:root {
  --black: #000000;
  --white: #ffffff;
  --font_family: Tahoma, Verdana, sans-serif;
}
body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.squarespace-cdn.com/content/v1/60be1ec3fbdd3c068cde7011/1626768360004-F9XRYX93MBR6IA6724HJ/kulosaarenostari.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  font-family: var(--font_family);
}
@media (max-width:720px){
  h1 {
    font-size: calc(1.25rem + 1vw);
  }
}
.hero-button, .hero-button a {
  padding: 0.25rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
  font-family: var(--font_family);
}
.copy{
  padding: 1rem;
  margin: 3rem auto 0 auto;
  font-family: var(--font_family);
}
@media (max-width:720px){
  .copy{
  padding: 0.5rem;
  margin: 1rem auto 0 auto;

}
}
.copy-upper {
  text-transform: uppercase;
  text-align: center;
}
.counter-container {
  background-color: #000;
  width: 100%;
  padding: 0.5rem 0;
}

ul#countdown {
  /* position: relative;
  top: 50%; */
  /* transform: translateY(-50%); */
  display: flex;
  width: 60%;
  margin: auto auto 0 auto;
  padding: 15px 0 20px 0;
  color: #fff;
  border: 1px solid #adafb2;
  border-width: 1px 0;
  overflow: hidden;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
}
ul#countdown li {
  margin: 0 -3px 0 0;
  padding: 0;
  display: inline-block;
  width: 25%;
  font-size: 72px;
  font-size: 6vw;
  text-align: center;
}
ul#countdown li .label {
  color: #adafb2;
  font-size: 18px;
  font-size: 1.5vw;
  text-transform: uppercase;
}

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.card >{
  font-family: var(--font_family);

}
pre {
    position: relative;
    background: #d3d6db;
    padding: 15px 10px 10px 10px;
    font-size: 1rem;
    color: var(--black);
    word-wrap: break-word;
    white-space: pre-wrap;
    border: 1px solid #e6e7e9;
    border-radius: 8px;
}

.copy-button {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: #fff;
  background: gray;
  border-radius: 0.5em;
  padding: 2px 7px;
}

.copy-button:hover{
  color: #000;
}

.footer{
margin-top: auto;
background:#000;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:10px 25px;
}


@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0;
padding: 0;
text-align:left;
}
.footer .row ul {
  padding-left: 0;
}

}